body {
  margin: 0;
  overflow: hidden;
}

#main {
  display: flex;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#upper-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#file-upload {
  display: none;
}

#file-upload-label {
  padding: 2vh;
  border: 1px solid black;
  user-select: none;
}

#file-upload-label:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
